#form {}

#formDescription,
#form label {
    color: var(--color-dark);
    font-weight: 700;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5vw;
}