@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.appSpinner {
    /* tourne en continu dans le sens des aiguilles d'une montre */
    animation: spin 1s linear infinite;
}