/*GLOBALS*/

:root {
    --color-white: #ffffff;
    --color-dark: rgb(59, 87, 77);
    --color-light: #BAC7B5;
    --color-green: #748678;
    --color-form: #D3D4CC;
    --color-grey: #D3D4CC;
    --color-smokey: rgba(7, 12, 18, 0.734);
    --color-ok: #006900;
    --color-error: #cd8383;
    --size-font: 1vw;
    --size-font-mobile: 3vw;
    --size-font-mini: 0.7vw;
    --size-title: 2vw;
    --size-title-mobile: 1vw;
    --size-line-height: 24px;
}

* {
    font-family: var(--font-Montserrat);
    font-size: var(--size-font);
    font-weight: 600;
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: url(/images/backgrounds/background-accueil.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100vw;
    background: linear-gradient(to left, rgba(59, 87, 77, 0.6), transparent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#appTitle {
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: none;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#welcomer {
    flex: 1;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    animation: slideInTop 0.5s ease;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer * {
    margin: 10px;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: var(--size-title);
}

h2 {
    font-size: var(--size-title);
    margin: 20px 0px 20px 0px;
}

p {
    font-weight: 500;
}

p.success {
    color: var(--color-ok);
    font-weight: 700;
}

p.error {
    color: var(--color-error);
}

a {
    text-decoration: none;
    border: none;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--color-dark);
    border: solid 1px var(--color-light);
    /* border-radius: 6px; */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
    /* border-radius: 6px; */
}